.About {
    width: 65%;
    text-align: left;
  }

  .Headline {
    font-size: x-large;
    text-align: center;
    font-family: American Typewriter, serif;
  }

  .Content {
    font-family: Georgia, serif;
    font-size: medium;
  }

  strong {
    color: orange;
  }